[Unit]
Description=GenieACS CWMP server
After=mongod.service
Requires=mongod.service

[Service]
Type=simple
ExecStart=/home/acs/genieacs/bin/genieacs-cwmp
StandardOutput=syslog
Restart=always
RestartSec=5
User=acs
Group=acs

[Install]
WantedBy=multi-user.target