[Unit]
Description=GenieACS API
PartOf=genieacs-cwmp.service
After=genieacs-cwmp.service

[Service]
Type=simple
ExecStart=/home/nariman/genieacs/bin/genieacs-nbi
StandardOutput=syslog
Restart=always
RestartSec=5
User=nariman
Group=nariman

[Install]
WantedBy=genieacs-cwmp.service