[Unit]
Description=GenieACS API
PartOf=genieacs-cwmp.service
After=genieacs-cwmp.service

[Service]
Type=simple
ExecStart=/home/acs/genieacs/bin/genieacs-nbi
StandardOutput=syslog
Restart=always
RestartSec=5
User=acs
Group=acs

[Install]
WantedBy=genieacs-cwmp.service